<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <section>
        <div class="container-fluid bg-primary p-5 mt-5 ">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>
                        <div class="input-group">
                            <label for="ch"></label>
                            <input id="ch" type="text" class="form-control" name="ch">
                            <button class="btn btn-light text-dark ms-3 col-md-2">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-md-2 p-0">
                    <div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active"
                                   aria-current="true">Categories</a>
                                <a th:each="category : ${categoryList}" th:text="${category.name}"
                                   href="#" class="list-group-item list-group-item-action"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <p class="fs-3 text-center">Products</p>
                            <div class="row">
                                <div class="col-md-3" th:each="product : ${productList}">
                                    <div class="card">
                                        <div class="card-body">
                                            <img alt="..." width="100%" height="150px"
                                                 th:src="@{'/product-images/' + ${product.imageName}}">
                                            <p class="fs-5 text-center" th:text="${product.name}"></p>
                                            <div class="row text-center">
                                                <p class="fs-6 fw-bold">
                                                    <span>
                                                        [[${product.discountPrice}]] $
                                                    </span>
                                                    <br>
                                                    <span class="text-decoration-line-through text-secondary">
                                                        [[${product.price}]] $
                                                    </span>
                                                    &nbsp;
                                                    <span class="fs-6 text-success">
                                                        [[${product.discount}]] % off
                                                    </span>
                                                </p>
                                                <a href="/product/details" class="btn btn-info col-md-6 offset-md-3">View
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>