<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Admins</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>
        <div class="col">
            <form action="/admin/admin-list" method="get">
                <label>
                    <input type="text" class="form-control" name="character">
                </label>
                <button class="btn btn-primary col">Search</button>
            </form>
        </div>
        <br> <br>
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">Admin List</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">Total Admins: [[${totalElements}]]</div>
                    <div class="col-md-6">
                        <th:block th:if="${adminListSize > 0}">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''">
                                        <a class="page-link"
                                           th:href="@{'/admin/admin-list?pageNumber=' + ${pageNumber - 1}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                                        th:classappend="${pageNumber + 1 == i} ? 'active' : ''">
                                        <a class="page-link" th:href="@{'/admin/admin-list?pageNumber=' + ${i - 1}}">[[${i}]]</a>
                                    </li>
                                    <li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{'/admin/admin-list?pageNumber=' + ${pageNumber + 1}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </th:block>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Profile Photo</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th th:if="${adminListSize > 1}" scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="admin : ${adminList}">
                        <td>
                            <th:block th:if="${admin.profileImageName != null &&
                                                !admin.profileImageName.isBlank() &&
                                                !admin.profileImageName.isEmpty()}">
                                <img th:src="@{'/profile-images/' + ${admin.profileImageName}}"
                                     width="50px" height="50px" alt="...">
                            </th:block>
                            <th:block th:if="${admin.profileImageName == null ||
                                                admin.profileImageName.isBlank() ||
                                                admin.profileImageName.isEmpty()}">
                                <img src="/profile-images/no-profile.jpg"
                                     width="50px" height="50px" alt="...">
                            </th:block>
                        </td>
                        <td th:text="${admin.fullName}"></td>
                        <td th:text="${admin.email}"></td>
                        <td th:text="${admin.mobileNumber}"></td>
                        <td>
                            [[${admin.city}]] / [[${admin.country}]]
                        </td>
                        <th:block th:if="${admin.isEnabled}">
                            <td>Active</td>
                        </th:block>
                        <th:block th:unless="${admin.isEnabled}">
                            <td>Inactive</td>
                        </th:block>
                        <th:block th:if="${adminListSize > 1}">
                            <td th:if="${!admin.email.equals('tehmezlisenan11@gmail.com')}">
                                <a th:href="@{'/admin/edit-admin-account-status?status=true&id=' + ${admin.id}}"
                                   class="btn btn-sm btn-success">Active</a>
                                <a th:href="@{'/admin/edit-admin-account-status?status=false&id=' + ${admin.id}}"
                                   class="btn btn-sm btn-danger">Inactive</a>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>