<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <p class="text-center fs-3">My Orders</p>
            <th:block th:if="${session.successMessage}">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert">
                    [[${session.successMessage}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <th:block th:if="${session.errorMessage}">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    [[${session.errorMessage}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <div class="col-md-12 ">
                <table class="table table-bordered card-sh">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${order.orderId}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td th:text="${order.product.name}"></td>
                            <td>
                                Quantity : [[${order.quantity}]]
                                <br>
                                Price : [[${order.price}]] $
                                <br>
                                Total Price : [[${order.quantity * order.price}]] $
                            </td>
                            <td th:text="${order.status}"></td>
                            <td>
                                <th:block th:if="${order.status != 'Cancelled'}">
                                    <a th:href="@{'/order/update-status?id=' + ${order.id} + '&status=6'}"
                                    class="btn btn-sm btn-danger">Cancel</a>
                                </th:block>
                                <th:block th:unless="${order.status != 'Cancelled'}">
                                    <a href="#" class="btn btn-sm btn-danger disabled">Cancel</a>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-4">Total Orders: [[${totalElements}]]</div>
                    <th:block th:if="${orderListSize > 0}">
                        <div class="col-md-6">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''">
                                        <a class="page-link"
                                           th:href="@{'/order/my-orders?pageNumber=' + ${pageNumber - 1}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                                        th:classappend="${pageNumber + 1 == i} ? 'active' : ''">
                                        <a class="page-link" th:href="@{'/order/my-orders?pageNumber=' + ${i - 1}}">[[${i}]]</a>
                                    </li>
                                    <li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{'/order/my-orders?pageNumber=' + ${pageNumber + 1}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>