<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>
    </div>
    <div class="col-md-10 offset-md-1 mt-1">
        <div class="row">
            <p class="text-center fs-3">Change Password</p>
            <div class="col-md-6 offset-md-3">
                <table class="table table-borderless">
                    <tbody>
                    <form action="/change-password" method="post">
                        <tr>
                            <th scope="row">Current Password</th>
                            <td>
                                <label>
                                    <input type="password" name="currentPassword" class="form-control" required>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">New Password</th>
                            <td>
                                <label>
                                    <input type="password" name="newPassword" class="form-control"
                                           required minlength="8">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Confirm Password</th>
                            <td>
                                <label>
                                    <input type="password" name="confirmPassword" class="form-control" required>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <button class="btn btn-sm bg-success text-light col-md-4">Save</button>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>