<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">
        <div class="row mt-5">
            <a th:href="@{'/my-profile'}" class="btn btn-success">Update Profile</a>
        </div>
        <div class="row mt-5">
            <a th:href="@{'/change-password'}" class="btn btn-success">Change Password</a>
        </div>
        <th:block th:if="${user.role == 'User'}">
            <div class="row mt-5">
                <a th:href="@{'/delete-account'}" class="btn btn-danger">Delete Account</a>
            </div>
        </th:block>
        <th:block th:unless="${user.role == 'User'}">
            <div th:if="${adminCount > 1}" class="row mt-5">
                <a th:href="@{'/delete-account'}" class="btn btn-danger">Delete Account</a>
            </div>
        </th:block>
    </div>
</section>
</body>
</html>