<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <section>
        <div class="container-fluid p-5 mt-5">
            <th:block th:if="${session.successMessage}">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert">
                    [[${session.successMessage}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <th:block th:if="${session.errorMessage}">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    [[${session.errorMessage}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                        <form action="/admin/category-list" method="get">
                            <label>
                                <input type="text" class="form-control" name="character">
                            </label>
                            <button class="btn btn-primary col">Search</button>
                        </form>
                    </div>
                    <br> <br>
                    <div class="card card-sh">
                        <div class="card-header text-center fs-4">
                            Add Category
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/add-category" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="name">Name</label>
                                    <input id="name" name="name" type="text" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label>Status</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" checked value="true"
                                               name="isActive" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="isActive"
                                               value="false" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">Inactive</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="file">Cover Photo</label>
                                    <input id="file" name="file" type="file" class="form-control" required>
                                </div>
                                <button class="btn btn-primary col-md-12">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-sh">
                        <div class="card-header text-center fs-4">Category List</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">Total Categories: [[${totalElements}]]</div>
                                <div class="col-md-6">
                                    <th:block th:if="${categoryListSize > 0}">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''">
                                                    <a class="page-link"
                                                       th:href="@{'/admin/category-list?pageNumber=' + ${pageNumber - 1}}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                                                    th:classappend="${pageNumber + 1 == i} ? 'active' : ''">
                                                    <a class="page-link" th:href="@{'/admin/category-list?pageNumber=' + ${i - 1}}">[[${i}]]</a>
                                                </li>
                                                <li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''">
                                                    <a class="page-link" th:href="@{'/admin/category-list?pageNumber=' + ${pageNumber + 1}}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </th:block>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Cover Photo</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="category : ${categoryList}">
                                        <td th:text="${category.name}"></td>
                                        <td>
                                            <th:block th:if="${category.imageName != null &&
                                                !category.imageName.isBlank() &&
                                                !category.imageName.isEmpty()}">
                                                <img th:src="@{'/category-images/' + ${category.imageName}}"
                                                     width="50px" height="50px" alt="...">
                                            </th:block>
                                            <th:block th:if="${category.imageName == null ||
                                                category.imageName.isBlank() ||
                                                category.imageName.isEmpty()}">
                                                <img src="/category-images/no-picture.jpg"
                                                     width="50px" height="50px" alt="...">
                                            </th:block>
                                        </td>
                                        <th:block th:if="${category.isActive}">
                                            <td>Active</td>
                                        </th:block>
                                        <th:block th:unless="${category.isActive}">
                                            <td>Inactive</td>
                                        </th:block>
                                        <td>
                                            <a th:href="@{'/admin/edit-category/' + ${category.id}}"
                                               class="btn btn-sm btn-success">Update</a>
                                            <a th:href="@{'/admin/remove-category/' + ${category.id}}"
                                               class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>