<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>All Orders</title>
</head>
<body>
    <section>
        <div class="container-fluid mt-5 p-1">
            <div class="row">
                <p class="text-center fs-3 mt-2">Order List</p>
                <th:block th:if="${session.successMessage}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        [[${session.successMessage}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${session.errorMessage}">
                    <div class="alert alert-danger alert-dismissible fade show"
                         role="alert">
                        [[${session.errorMessage}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <th:block th:text="${@sessionManagementServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <div class="col-md-4 p-4">
                    <form action="/admin/order-list" method="get">
                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="text" class="form-control" name="character">
                                </label>
                                <button class="btn btn-primary col">Search</button>
                            </div>
                            <br> <br> <br>
                            <div class="row">
                                <div class="col-md-4">Total Orders: [[${totalElements}]]</div>
                                <th:block th:if="${orderListSize > 0}">
                                    <div class="col-md-6">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''">
                                                    <a class="page-link"
                                                       th:href="@{'/admin/order-list?pageNumber=' + ${pageNumber - 1}}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                                                    th:classappend="${pageNumber + 1 == i} ? 'active' : ''">
                                                    <a class="page-link" th:href="@{'/admin/order-list?pageNumber=' + ${i - 1}}">[[${i}]]</a>
                                                </li>
                                                <li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''">
                                                    <a class="page-link" th:href="@{'/admin/order-list?pageNumber=' + ${pageNumber + 1}}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 ps-4 pe-4">
                    <table class="table table-bordered card-sh">
                        <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Deliver Details</th>
                            <th scope="col">Date</th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order : ${orderList}">
                                <th scope="row" th:text="${order.orderId}"></th>
                                <td>
                                    Name : [[${order.orderAddress.firstName + ' ' + order.orderAddress.lastName}]]
                                    <br>
                                    Email : [[${order.orderAddress.email}]]
                                    <br>
                                    Mobile Number: [[${order.orderAddress.mobileNumber}]]
                                    <br>
                                    Address : [[${order.orderAddress.address}]]
                                    <br>
                                    City : [[${order.orderAddress.city}]]
                                    <br>
                                    State :
                                    [[${order.orderAddress.country}]] / [[${order.orderAddress.pinCode}]]
                                </td>
                                <td th:text="${order.orderDate}"></td>
                                <td th:text="${order.product.name}"></td>
                                <td>
                                    Quantity : [[${order.quantity}]]
                                    <br>
                                    Price : [[${order.price}]]
                                    <br>
                                    Total Price : [[${order.quantity * order.price}]]
                                </td>
                                <td th:text="${order.status}"></td>
                                <td>
                                    <form action="/admin/update-order-status" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <label for="status">Status</label>
                                                <select id="status" class="form-control" name="status">
                                                    <option>--- Select ---</option>
                                                    <option value="1">In Progress</option>
                                                    <option value="2">Order Received</option>
                                                    <option value="3">Product Packed</option>
                                                    <option value="4">Out For Delivery</option>
                                                    <option value="5">Delivered</option>
                                                    <option value="6">Cancelled</option>
                                                </select>
                                            </div>
                                            <input th:value="${order.id}" name="id" type="hidden">
                                            <div class="col">
                                                <th:block th:if="${order.status == 'Cancelled' || order.status == 'Delivered'}">
                                                    <button class="btn btn-sm btn-primary col disabled">Update</button>
                                                </th:block>
                                                <th:block th:unless="${order.status == 'Cancelled' || order.status == 'Delivered'}">
                                                    <button  class="btn btn-sm btn-primary">Update</button>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>